@charset "utf-8";

html {
  font-size: $font-size-root;
}

body {
  font-family: $font-family-default;
  font-size: $font-size-base;
  color: #000;
  background-color: #eee;
  line-height: 1.4;
  word-break: break-all;
  word-wrap: break-word;
}

img {
  vertical-align: bottom;
}

a {
  /*color: $color-link;*/
  text-decoration: none;
}
