<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>map-gnavi</title>
  <link rel="stylesheet" href="./css/main.css">
</head>
<body>
{{{contents}}}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUQyJsnnYgFDzksvgXDyAb1XnDJr88g0k"></script>
<script src="./js/main.js"></script>
</body>
</html>