<!DOCTYPE html>
<html lang="ja">
<%- include('../partials/head') %>
<body>
<div class="page">

<div class="searchBox ic-b ic-b--search">
  <input type="text" class="searchBox__input" value="沖縄" placeholder="場所の名称を入力してね">
</div>

<div class="hitCounter">
  <span class="js-hitCounter"></span>件
</div>

<div class="js-wrapper"></div>

<div class="pager js-pager">
  <div class="pager__prev js-pager-prev is-none"></div>
  <div class="pager__meter">
    <span class="pager__num js-pager-num">1</span>
    <span class="pager__total js-pager-total"></span>
  </div>
  <div class="pager__next js-pager-next is-none"></div>
</div>

<%- include('../partials/credit') %>

</div>
<%- include('../partials/script') %>
</body>
</html>