/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$search-name: 'search';
$search-x: 0px;
$search-y: 0px;
$search-offset-x: 0px;
$search-offset-y: 0px;
$search-width: 32px;
$search-height: 32px;
$search-total-width: 32px;
$search-total-height: 32px;
$search-image: '../img/sprite-common.png?revision=201609121608';
$search: (0px, 0px, 0px, 0px, 32px, 32px, 32px, 32px, '../img/sprite-common.png?revision=201609121608', 'search', );
$spritesheet-width: 32px;
$spritesheet-height: 32px;
$spritesheet-image: '../img/sprite-common.png?revision=201609121608';
$spritesheet-sprites: ($search, );
$spritesheet: (32px, 32px, '../img/sprite-common.png?revision=201609121608', $spritesheet-sprites, );


