@charset "UTF-8";

.ic-b {
  position: relative;
  &::before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  &--search {
    padding-left: calc($search-total-width / 2 + 8px + 8px);
    &::before {
      margin-left: 8px;
      @mixin sprite $search;
    }
  }
}