<ul id="js-searchType" class="searchType is-hidden">
  <li class="searchType__item">
    <button type="button" id="js-searchType-area" class="button button--primary" disabled>エリア名から探す</button>
  </li>
  <li class="searchType__item">
    <button type="button" id="js-searchType-current" class="button button--primary">現在地から探す</button>
  </li>
</ul>