@charset 'utf-8';

.button {
  display: block;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  font-size: var(--font-size-base);
  font-weight: bold;
  border-style: solid;
  border-width: 1px;

  &:disabled {
    border-color: var(--color-disabled);
    background-color: #fff;
    color: var(--color-disabled);

    &:hover {
      border-color: var(--color-disabled);
      background-color: #fff;
      color: var(--color-disabled);
    }
  }

  &--primary {
    border-color: var(--color-primary);
    background-color: #fff;
    color: var(--color-primary);

    &:active,
    &:hover {
      background-color: var(--color-primary);
      color: #fff;
    }
  }
}
